<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %> 
<body>
    <h1>Pokedex</h1>
    <h2>
        <%= pokemon.name %>
        -
        <%=  pokemon.id  %> 
    </h2>
    <img src="<%= pokemon.img %> " alt="<%= pokemon.name %>">
    <ul>
        Type 
        <% const type = pokemon.type %> 
        <% for (i = 0; i < type.length; i++) { %>
            <li>
                <%= type[i] %> 
            </li>
        <% } %> 
    </ul>
    <ul>
        Stats
        <% const stats = pokemon.stats %>
        <% const hp = stats.hp %>
        <% const attack = stats.attack %>
        <% const defense = stats.defense %>
        <% const spattack = stats.spattack %>
        <% const spdefense = stats.spdefense %>
        <% const speed = stats.speed %>
            <li>
                HP: <%= hp %> 
            </li>
            <li>
                Attack: <%= attack %> 
            </li>
            <li>
                Defense: <%= defense %> 
            </li>
            <li>
                Special Attack: <%= spattack %> 
            </li>
            <li>
                Special Defense: <%= spdefense %> 
            </li>
            <li>
                Speed: <%= speed %> 
            </li>
    </ul>
    <% const id = parseInt(pokemon.id) - 1 %> 
    <a href="/pokemon/<%=id%>/edit"><button>Edit Pokemon</button></a>
    <a href="/pokemon/"><button>Back to Home Page</button></a>
</body>
</html>