<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %> 
<body>
    <h1>Pokedex</h1>
    <h2>
        <%= pokemon.name %>
        -
        <%= pokemon.id %> 
    </h2>
    <img src="<%= pokemon.img %> " alt="<%= pokemon.name %>">
    <ul>
        Type 
        <% let type = pokemon.type %> 
        <% for (i = 0; i < type.length; i++) { %>
            <li>
                <%= type[i] %> 
            </li>
        <% } %> 
    </ul>
    <ul>
        Stats
            <li>
                HP: <%= pokemon.hp || pokemon.stats.hp %> 
            </li>
            <li>
                Attack: <%= pokemon.attack || pokemon.stats.attack %> 
            </li>
            <li>
                Defense: <%= pokemon.defense || pokemon.stats.defense %> 
            </li>
            <li>
                Special Attack: <%= pokemon.spattack || pokemon.stats.spattack %> 
            </li>
            <li>
                Special Defense: <%= pokemon.spdefense ||pokemon.stats.spdefense  %> 
            </li>
            <li>
                Speed: <%= pokemon.speed || pokemon.stats.speed %> 
            </li>
    </ul>

    <% const id = parseInt(pokemon.id) - 1 %> 
    <a href="/pokemon/<%=id%>/edit"><button>Edit Pokemon</button></a>
    <form action="/pokemon/<%=id%>?_method=DELETE" method="POST">
        <input type="submit" value="Delete Pokemon">
    </form>
    <a href="/pokemon/"><button>Back to Home Page</button></a>
</body>
</html>